@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700;900&display=swap');

html{
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth;
    background-color: #191b1f;
}

.home{
    min-height:600px;
    background-color: #070708;
}

.home::-webkit-scrollbar-track{
  background: #070708;
}


.main{
    min-height:650px;
}

.second{
    min-height:650px;
}

.active{
    color: #559723;
}

.socials{
    list-style: none;
    display: flex;
  }
  
  .socials li{
    margin: 0 15px;
  }
  
  .socials a{
    text-decoration: none;
    color: var(--black);
  }
  
  .socials a i{
    font-size: 1.7rem;
  }
  
  .socials a:hover i{
    color: #559723;
  }

.text-desc{
  font-size: 1rem;
}

/* Custom Scroll Bar */
::-webkit-scrollbar{
    width: 5px
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background: #34363D;
    height: 15px;
}

.IMgMuse{
  user-drag: none;
}

.IMgPhoto{
  user-drag: none;
}